<script src="{{ config.ASSETS_ROOT }}/js/vendor-all.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pcoded.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/dark-mode.js"></script>
<link href="/static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<script src="/static/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/static/clipboard/dist/clipboard.min.js"></script>